* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background: var(--cor-fundo-primaria);
  color: var(--cor-fonte-primaria);
  font-family: var(--fonte-interface);
  -webkit-font-smoothing: antialiased;
}